<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ibm.hackthon.dao.InterestMapper">
  <resultMap id="BaseResultMap" type="cn.com.ibm.hackthon.po.Interest">
    <result column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="field1" jdbcType="VARCHAR" property="field1" />
    <result column="field2" jdbcType="VARCHAR" property="field2" />
  </resultMap>
  <select id="selectInteretByUserIdAndItemId" resultMap="BaseResultMap">
  	select * from fish.t_interest
  	<where>
  		<if test="0!=null">
  			and userid=#{0}
  		</if>
  		<if test="1!=null">
  			and item_id=#{0}
  		</if>
  	</where>
  </select>
  <insert id="insert" parameterType="cn.com.ibm.hackthon.po.Interest">
    insert into t_interest (item_id, userid, create_time, 
      field1, field2)
    values (#{itemId,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{field1,jdbcType=VARCHAR}, #{field2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ibm.hackthon.po.Interest">
    insert into t_interest
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>