<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ibm.hackthon.dao.LocationMapper">
  <resultMap id="BaseResultMap" type="cn.com.ibm.hackthon.po.Location">
    <result column="location_id" jdbcType="INTEGER" property="locationId" />
    <result column="location_name" jdbcType="VARCHAR" property="locationName" />
    <result column="field" jdbcType="VARCHAR" property="field" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.ibm.hackthon.po.Location">
    insert into t_location (location_id, location_name, field
      )
    values (#{locationId,jdbcType=INTEGER}, #{locationName,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}
      )
  </insert>

  <sql id="Base_Column_List">
    location_id, location_name, field
  </sql>

  <select id="getAllLocation" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_location
  </select>
</mapper>