<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.ibm.hackthon.dao.RecommendMapper">
  <resultMap id="BaseResultMap" type="cn.com.ibm.hackthon.po.Recommend">
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="itemid" jdbcType="VARCHAR" property="itemid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <insert id="insert" parameterType="cn.com.ibm.hackthon.po.Recommend">
    insert into t_recommend (userid, itemid)
    values (#{userid,jdbcType=INTEGER}, #{itemid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.ibm.hackthon.po.Recommend">
    insert into t_recommend
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="itemid != null">
        itemid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null">
        #{itemid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="selectByUserId" resultMap="BaseResultMap">
  	select * from fish.t_recommend
  	<where>
  		<if test="0!=null">
  			userid=#{0}
  		</if>
  	</where>
  </select>
</mapper>